In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
d = pd.DataFrame ( {
"x": [ 1,1,1,2,1,2,1,2,1,2],
"y": [ 1,1,1,2,1,2,4,3,4,3]
})

In [4]:
d

   x  y
0  1  1
1  1  1
2  1  1
3  2  2
4  1  1
5  2  2
6  1  4
7  2  3
8  1  4
9  2  3

In [6]:
d.x.cumsum()

0     1
1     2
2     3
3     5
4     6
5     8
6     9
7    11
8    12
9    14
Name: x, dtype: int64

In [16]:
xoff  = pd.DataFrame({"x":[0], "y":[0]}).append([d])

   x  y
0  0  0
0  1  1
1  1  1
2  1  1
3  2  2
4  1  1
5  2  2
6  1  4
7  2  3
8  1  4
9  2  3

In [15]:
pd.DataFrame.append?

Signature:
pd.DataFrame.append(
    self,
    other,
    ignore_index=False,
    verify_integrity=False,
    sort=False,
) -> 'DataFrame'
Docstring:
Append rows of `other` to the end of caller, returning a new object.

Columns in `other` that are not in the caller are added as new columns.

Parameters
----------
other : DataFrame or Series/dict-like object, or list of these
    The data to append.
ignore_index : bool, default False
    If True, the resulting axis will be labeled 0, 1, â€¦, n - 1.
verify_integrity : bool, default False
    If True, raise ValueError on creating index with duplicates.
sort : bool, default False
    Sort columns if the columns of `self` and `other` are not aligned.

    .. versionadded:: 0.23.0
    .. versionchanged:: 1.0.0

        Changed to not sort by default.

Returns
-------
DataFrame

See Also
--------
concat : General function to concatenate DataFrame or Series objects.

Notes
-----
If a list of dict/series is passed and the keys are all contained in
the DataFrame's index, the order of the columns in the resulting
DataFrame will be unchanged.

Iteratively appending rows to a DataFrame can be more computationally
intensive than a single concatenate. A better solution is to append
those rows to a list and then concatenate the list with the original
DataFrame all at once.

Examples
--------
>>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
>>> df
   A  B
0  1  2
1  3  4
>>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
>>> df.append(df2)
   A  B
0  1  2
1  3  4
0  5  6
1  7  8

With `ignore_index` set to True:

>>> df.append(df2, ignore_index=True)
   A  B
0  1  2
1  3  4
2  5  6
3  7  8

The following, while not recommended methods for generating DataFrames,
show two ways to generate a DataFrame from multiple data sources.

Less efficient:

>>> df = pd.DataFrame(columns=['A'])
>>> for i in range(5):
...     df = df.append({'A': i}, ignore_index=True)
>>> df
   A
0  0
1  1
2  2
3  3
4  4

More efficient:

>>> pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],
...           ignore_index=True)
   A
0  0
1  1
2  2
3  3
4  4
File:      /Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py
Type:      function